select option {
  background: #fff;
  color: #333;
}
select:hover {
  border-color: #51affe;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sponsors-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}
.sponsor-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  border: 1px solid #e7e7e7;
  align-items: center;
  flex-direction: column;

  width: 70%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.sponsor-card:hover {
  border: 1px solid #0084ff;
}
.sponsor-card:nth-child(odd) {
  height: 500px;
}
.sponsor-card:nth-child(even) {
  height: 500px;
}
.sponsor-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}
.sponsor-card p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #666;
}
@media (max-width: 768px) {
  #sponsors-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .sponsor-card {
    padding: 15px;
  }
}
#sponsor-image {
  width: 150px;
  height: 150px; 
  border-radius: 50%; 
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd; 
}
#sponsor-image img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
#sponsor-name {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 0px;
}
#sponsor-loc {
  margin-top: 8px;
  padding-left: 4px;
  color: #4a4a4a;
  font-weight: normal;
}
#desc-details {
  width: 100%;
  margin-top: 18px;
}
.sponsor-heart-icon {
  position: relative;
  top: 30%;
  left: 45%;
}
.sponsor-heart-icon.red {
  color: red;
  animation: pop 0.3s ease;
}
.sponsor-heart-icon.default {
  color: black;
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3); 
  }
  100% {
    transform: scale(1);
  }
}